<div id="<%= dom_id pin %>">
  <p class="flex">
    <strong class="flex font-medium text-lg mr-4 italic">Title:</strong>
    <p class="text-3xl tracking-wider text-white underline mb-4"><%= pin.title %></p>
  </p>

  <div class="border-2 rounded-xl border-gray-600 p-6 mb-16">
    <div class="align-center">
      <%= pin.body %>
    </div>

    <br />

    <% if pin.image.content_type.in?(%w[image/jpeg image/png]) %>
      <%= link_to image_tag(pin.image_as_thumbnail), pin.image if pin.image.attached? %>
    <% end %>

    <br />
    <hr /> 
    <br />

    <% pin.pictures.each do |picture| %> 
      <%= link_to image_tag(pin.picture_as_thumbnail(picture)), picture %>
    <% end %>
  </div>
</div>